li.card
  .card__img
    include ../../../img/icons/eye1-icon.svg
  h2.card__title
    span.card__accent hdr
    span display
  p.card__text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.
li.card
  .card__img
    include ../../../img/icons/eye2-icon.svg
  h2.card__title
    span.card__accent input
    span lag
  p.card__text Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.
li.card
  .card__img
    include ../../../img/icons/eye3-icon.svg
  h2.card__title
    span.card__accent high refresh
    span rate
  p.card__text NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.
li.card
  .card__img
    include ../../../img/icons/eye4-icon.svg
  h2.card__title
    span.card__accent wide color
    span gamut
  p.card__text Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.
