.menu
  button.menu__btn.js-mobile-menu-btn
    include ../../../img/icons/menu-icon.svg
  
  .menu__content.js-mobile-menu-content
    
    nav.menu__navigation
      ul.menu__list
        li.menu__item
          a(href="javascript:;").menu__link Продукты
        li.menu__item
          a(href="javascript:;").menu__link Технологии
        li.menu__item
          a(href="javascript:;").menu__link Experience
    
    .menu__social
      include ./social
