ul.social
  li.social__item
    a.social__link(href="javascript:;")
      include ../../../img/icons/twitter-icon.svg
  li.social__item
    a.social__link(href="javascript:;")
      include ../../../img/icons/instagram-icon.svg
